{% extends 'pi/index.html' %}

{% load staticfiles %}

{% block content %}
<div class="row">
   <div class="col-lg-12">
       <h1 class="page-header">About Personality Insights</h1>
   </div>
   <!-- /.col-lg-12 -->
</div>

<!--/.row -->
<div class = "row">
  <div class="col-lg-12">
  <h4 class="list-heading">What can I do here?</h4>
  <ul>
 <li>Input stats from your Facebook profile content, to get your predicted Big 5 Personality scores.</li><br>
  <li>Enter the results of your Big 5 Personality survey, to see the difference between actual & predicted scores.</li><br>
  <li>You can choose instances we've already entered for you, to see how the app works!</li>
</ul><br>
</div>
</div>

<!--/.row -->
<div class = "row">
   <div class="col-lg-12">
  <h4 class="list-heading"> Understanding the Big 5 Personality Dimensions</h4>
  <p>Big Five personality model includes five primary characteristics, or dimensions, scored out of 50:</p><br>
<ul>
    <li><b>Agreeableness</b> is a person's tendency to be compassionate and cooperative toward others.</li><br>
    <li><b>Conscientiousness</b> is a person's tendency to act in an organized or thoughtful way.</li><br>
    <li><b>Extraversion</b> is a person's tendency to seek stimulation in the company of others.</li><br>
    <li><b>Emotional Stability</b>, also referred to as the opposite of Neuroticism, is the extent to which a person's emotions are sensitive to their environment.</li><br>
    <li><b>Openness</b> is the extent to which a person is open to experiencing a variety of activities.</li><br>
</ul>
</div>
</div>

<!--

<div class="row">
   <div class="col-lg-3 col-md-6">
       <div class="panel panel-primary">
           <div class="panel-heading">
               <div class="row">
                   <div class="col-xs-3">
                       <i class="fa fa-comments fa-5x"></i>
                   </div>
                   <div class="col-xs-9 text-right">
                       <div class="huge">26</div>
                       <div>New Comments!</div>
                   </div>
               </div>
           </div>
           <a href="#">
               <div class="panel-footer">
                   <span class="pull-left">View Details</span>
                   <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                   <div class="clearfix"></div>
               </div>
           </a>
       </div>
   </div>
   <div class="col-lg-3 col-md-6">
       <div class="panel panel-green">
           <div class="panel-heading">
               <div class="row">
                   <div class="col-xs-3">
                       <i class="fa fa-tasks fa-5x"></i>
                   </div>
                   <div class="col-xs-9 text-right">
                       <div class="huge">12</div>
                       <div>New Tasks!</div>
                   </div>
               </div>
           </div>
           <a href="#">
               <div class="panel-footer">
                   <span class="pull-left">View Details</span>
                   <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                   <div class="clearfix"></div>
               </div>
           </a>
       </div>
   </div>
   <div class="col-lg-3 col-md-6">
       <div class="panel panel-yellow">
           <div class="panel-heading">
               <div class="row">
                   <div class="col-xs-3">
                       <i class="fa fa-shopping-cart fa-5x"></i>
                   </div>
                   <div class="col-xs-9 text-right">
                       <div class="huge">124</div>
                       <div>New Orders!</div>
                   </div>
               </div>
           </div>
           <a href="#">
               <div class="panel-footer">
                   <span class="pull-left">View Details</span>
                   <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                   <div class="clearfix"></div>
               </div>
           </a>
       </div>
   </div>
   <div class="col-lg-3 col-md-6">
       <div class="panel panel-red">
           <div class="panel-heading">
               <div class="row">
                   <div class="col-xs-3">
                       <i class="fa fa-support fa-5x"></i>
                   </div>
                   <div class="col-xs-9 text-right">
                       <div class="huge">13</div>
                       <div>Support Tickets!</div>
                   </div>
               </div>
           </div>
           <a href="#">
               <div class="panel-footer">
                   <span class="pull-left">View Details</span>
                   <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                   <div class="clearfix"></div>
               </div>
           </a>
       </div>
   </div>
</div>
< /.row -->
<br>


<!-- jQuery -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>


<!-- Morris Charts JavaScript -->

<script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'js/morris-data.js' %}"></script>


{% endblock %}
